body{
    margin: 0;
    padding: 0;
    background-color: black;
    color: rgb(255, 255, 255);
    font-family: Arial, sans-serif;
    font-weight: lighter;
}
.top-nav-bar{
    display: flex;
    height: 9vh;

    align-items: center;
    font-weight: 100;
    padding-left: 10%;
    justify-content: space-between;
}
.top-buttons{
    display: inline-flex;

}
a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    padding-right: 7%;
    font-weight: 100;
}
.profile-1{
    height: 34vh;
    border-radius: 16vh;
    float: right;
    margin-right: 10%;
}
.main-heading{
    display: inline-flex;
    width: 60%;
    flex-direction: column;
    float: left;
}
p{
    display: inline;
    padding: 0;
    margin: 0;
    margin-top: 3.5vh;
}
.lower-heading{
    font-size: 24px;
    font-weight: 100;
    margin-left: 5px;
}
h1{
    font-size: 5.2em;
    font-weight: 100;
    padding: 0;
    margin: 0;
    margin-top: 4vh;
}
.block-1{
    background-color: black;
    height: 75.5vh;
    width:90%;
    padding-left: 10%;
}
.main-content{
    justify-content: space-around;
    width: 100%;
    background-color: green;
    margin-top: 12vh;
}
.time-teller{
    display: inline;
    height: 31px;
    width: 31px;
    background-color: rgb(219, 219, 219);
    border-radius: 15.5px;
    margin-right: 8%;
    animation-name: example;
    animation-duration: 1s;
    transition: all .3s ease-in-out 100ms;
}
@keyframes example{
    from {margin-right: 0%;border-radius: 0px;}
    to {margin-right: 8%;border-radius: 15.5px;}
}
.time-teller:hover{
    padding-left: 10%;
    border-radius: 0px;
}