<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Divyanshu Singh</title>
    <link rel="stylesheet" href="static/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet">
</head>
<body>
    
    <div class="top-nav-bar">
        <div class="top-buttons">
            <a href="/" class="about">
                About
            </a>
            <a href="" class="Projects">
                Projects
            </a>
            <a href="" class="Contact">
                Contact
            </a>
            
            <a href="" class="More">
                More
            </a>
        </div>
        <div class="time-teller"></div>
    </div>

    {% block body %}

    {% endblock %}
</body>