{% extends "layout.html" %}
{% block body %}
<style>
    .More{
        text-decoration: line-through;
    }
</style>
<div class="block-1">
    <div class="main-content">
        <div class="main-heading">
            <h1>Writting</h1>
            <!-- ⒹⒾⓋⓎⒶⓃⓈⒽⓊ -->
            <p class="lower-heading">A better tommorow</p>
            <p class="lower-info-1">
                I am a software developer looking for free lance opportunity
                I am here to give you the best work for your project
            </p>
        </div>
        <div class="image-info">
            <img src="static/images/vaccum_tube.jpg" alt="" class="side_image-vaccumetube">
        </div>
        
            
    </div>

</div>
{% endblock %}