{% extends "layout.html" %}
{% block body %}
<style>
    .More{
        text-decoration: line-through;
    }
</style>
<div class="block-1">
    <div class="main-content">
        <div class="main-heading">
            <h1>Writting</h1>
            <!-- ⒹⒾⓋⓎⒶⓃⓈⒽⓊ -->
            <p class="lower-heading">A better tommorow</p>
            <p class="lower-info-1">
                I am a young Software Developer looking to find real world project building experience and some projects and work experience to add to my resume too. 
                Get your work done at the best value possible by a student who is looking to explore some real world projects and understant the software development field in general. 
                Don't think that you would not get the best Software. or atleast I hope so but if you don't like my work I will Lieterly refund you your mone back within a week 
                I don't really have alot to show but here is my. 
                
            </p>
        </div>
        <div class="image-info">
            <img src="static/images/vaccum_tube.jpg" alt="" class="side_image">
        </div>
        
            
    </div>

</div>
{% endblock %}